$color-red: #e74011;
$color-blue: #10a7d4;
$color-light-blue: #b1deee;
$color-green: #7ed321;
$color-orange: #ffa717;
$color-warning: #d51d1d;

$color-grey: #626a6e;
$color-dark-grey: #485156;
$color-light-grey: #b1b7bc;
$color-semi-light-grey: #d0d0d0;
$color-very-light-grey: #e9e9e9;
